.questionnaire-item {
    color: #333333;
    border: 1px solid #000000;
    padding: 10px;
    margin: 3px;
}

.btn-outline-secondary {
    color: #000;
    border-color: #000;
}

.btn-outline-secondary:focus {
    outline: none;
    box-shadow: none !important;
}

@media screen and (max-width: 400px) {
    .questionnaire-item {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .questionnaire-item p {
        font-size: larger;
    }
}