.questionnaire-item {
    color: var(--color-dark);
    border: 1px solid #000000;
    padding: 10px;
    margin: 3px;
}

.questionnaire-item.card {
    display: none;
}

.questionnaire-item.card.active {
    display: flex;
}

.btn-outline-secondary {
    color: var(--color-dark);
    border-color: var(--color-dark);
    background-color: #ffffff !important;
}

.btn-outline-secondary:focus {
    outline: none;
    box-shadow: none !important;
    background-color: #ebebeb !important;
    color: #000;
}

.btn-outline-secondary:active {
    outline: none;
    box-shadow: none !important;
    background-color: #ebebeb !important;
    color: #000 !important;
}

.boolean-type {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

.choice-type .btn-outline-secondary:hover {
    background-color: #e9ecef;
    color: #000000;
}

.choice-type .btn-outline-secondary.selected {
    border-color: rgba(var(--color-dark), .25) !important;
    background-color: rgba(var(--color-dark), .25) !important;
    color: #000000 !important;
}

.previous-button {
    border: none;
    font-size: x-large;
    width: 20%;
}

.radio-button {
    transform: scale(1.2);
    margin: 10px;
}

input[type="radio"] {
    opacity: 0;
    position: absolute;
    left: -20px;
    width: 50px;
    height: 20px;
    z-index: 1;
}

input[type="radio"]+label {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

input[type="radio"]+label::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -24px;
    border-radius: 50%;
    border: 1px solid #6F686A;
    width: 18px;
    height: 18px;
}

input[type="radio"]+label::after {
    content: '';
    position: absolute;
    display: inline-block;
    left: -21px;
    top: 3px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

input[type="radio"]:checked+label::after {
    background: rgba(var(--color-dark), .75);
}

input[type="radio"]:focus+label::before {
    box-shadow: 0 0px 8px rgba(var(--color-dark), .75);
}

@media screen and (max-width: 450px) {
    .prefix-text {
        font-size: 1.25rem;
    }
    .questionnaire-item {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .questionnaire-item p {
        font-size: 1.25rem;
    }
}