.questionnaire-item {
    color: #333333;
    border: 1px solid #000000;
    padding: 10px;
    margin: 3px;
}

.btn-outline-secondary {
    color: #000;
    border-color: #000;
}

.btn-outline-secondary:focus {
    outline: none;
    box-shadow: none !important;
}

@media screen and (max-width: 400px) {
    .prefix-text {
        font-size: 30px;
    }
    .questionnaire-item {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .questionnaire-item p {
        font-size: 24px;
    }
    .btn-group-vertical {
        width: 100%;
    }

    .boolean-type {
        font-size: 20px;
        display: flex;
        justify-content: space-evenly;
    }

    .choice-type .btn-outline-secondary:hover {
        background-color: #e9ecef;
        color: #000000;
    }

    .choice-type .btn-outline-secondary:active {
        background-color: #dddddd;
        color: #000000;
    }
}