/* .question-response-container>h6, .text-response-question {
    text-align: left;
} */
.review-page-container {
  color: var(--color-dark-gray);
}

.confirmation-page .card-body {
  font-size: 13px;
}

.text-response-answer {
    border: 1px solid lightgray;
    background: rgba(0,0,0,.05);
}