.question-response-container {
    margin-top: 15px;
    border-top: 1px solid lightgray;
    padding-top: 15px;
    /* text-align: left; */
    padding: 1em;
    -webkit-overflow-scrolling:touch; 
    overflow: scroll;
}

.question-response-container>h6, .text-response-question {
    text-align: left;
}

.text-response-answer {
    border: 1px solid lightgray;
    background: rgba(0,0,0,.05);
}