.questionnaire {
  text-align: center;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.submit-confirmation-text {
  text-align: left;
  padding: 0;
}

.submit-confirmation-text p {
  padding: 1em;
  background: #f2f2f2;
}

.edit-button {
  display: flex;
  position: absolute;
}