.patient-view {
    min-height: 80vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    line-height: 1.3;
}

.patient-view p {
    font-size: 1rem;
}

.patient-view .tagline-text {
    font-style: italic;
}

.app-title-container {
    text-align: left !important;
}

.welcome {
    /* @media screen only and (max-width: 480px) { */
    /* height: 80vh; */
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    /* } */
}

.btn-outline-secondary {
    color: #000;
    border-color: #000;
    background-color: lightgray;
}

.next-button {
    /* @media screen only and (max-width: 480px) { */
    width: 30%;
    align-self: center;
    color: #000000 !important;
    margin-top: 1rem;
    /* } */
    /* padding-left:30px;  */
    /* padding-right:30px;  */
}