.bg-lightgreen{
    background-color:var(--color-light-green);
}

.bg-lightgray{
    background-color: var(--color-light-gray);
}
.translate-middle {
    transform: translate(-50%,-50%)!important;
}
.start-0 {
    left: 0!important;
}

.start-100 {
    left: 100%!important;
}

.top-50 {
    top: 50%!important;
}

.continue-icon-bg, .exit-icon-bg{
    width:64px;
    height:64px;
    background-color: white;
    border-radius: 50%;
}

.continue-icon-bg{
    border: 2px solid var(--color-light-green);
}

.continue-icon path {
    fill: var(--color-light-green) !important;
}

.exit-icon-bg{
    border: 2px solid var(--color-light-gray);

}

.exit-icon path {
    fill: var(--color-light-gray) !important;
}

.card-btn:hover{
    cursor: pointer;
}
.card-btn-continue:hover{
    background-color: var(--color-dark-green) !important;
}
 
.card-btn-continue:hover .continue-icon path {
    fill:  var(--color-dark-green) !important;
}

.card-btn-continue:hover .continue-icon-bg{
    border: 2px solid var(--color-dark-green) !important;
}

.card-btn-exit:hover{
    background-color: var(--color-dark-gray) !important;
}

.card-btn-exit:hover .exit-icon path {
    fill:  var(--color-dark-gray) !important;
}

.card-btn-exit:hover .exit-icon-bg{
    border: 2px solid var(--color-dark-gray) !important;
}