.welcome {
    /* @media screen only and (max-width: 480px) { */
        height: 100vh;
        display: flex;
        text-align: left;
        flex-direction: column;
        justify-content: center;
    /* } */
}

.btn-outline-secondary {
    color: #000;
    border-color: #000;
}

.next-button {
    /* @media screen only and (max-width: 480px) { */
        width: 30%;
        align-self: center;
    /* } */
    /* padding-left:30px;  */
    /* padding-right:30px;  */
}