.multi-button {
    width: 100%;
    min-height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.multi-button.selected {
    flex-direction: column;
}

.multi-button>input[type="checkbox"]:focus+label {
    border: 2px solid red;
}

.multi-button>label {
    min-width: 120px;
    margin-bottom: 0;
    width: 100%;
    min-height: 30px;
    margin: 5px 0 5px;
    border-radius: 10px;
    border: 1px solid #000;
}

.multi-button input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.multi-button.selected label {
    background-color: #000000;
    border: 1px solid #000;
    color: #ffffff;
    min-height: 30px;
    z-index: 10;
    border-radius: 10px 10px 0 0
}

.additional-info-box {
    width: 100%;
    border: 1px dashed rgba(var(--color-dark), 1);
    padding: 10px;
    position: relative;
    margin-top: -20px;
    z-index: 1;
}

.additional-info-box>div {
    padding-top: 10px;
}

.additional-info-box .follow-up-question {
    text-align: center;
}

.button-box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.button-box .btn-group {
    width: 100%;
    box-shadow: none;
}

.button-box>button {
    width: 120px;
    margin: 0 5px 5px;
    background-color: rgba(var(--color-dark), .10) !important;
    color: rgba(var(--color-dark), 1);
    border: 1px solid rgba(var(--color-dark), 1);
    border-radius: 10px;
    height: 30px;
    box-shadow: none;
    padding: 0 10px;
}


.input-group .input-group-prepend .input-group-text {
    border: 1px solid rgba(var(--color-dark), 1) !important;
    border-radius: 10px 0 0 10px;
    background-color: rgba(var(--color-dark), 1);
    color: #ffffff;
}

.input-group input {
    border: 1px solid rgba(var(--color-dark), 1) !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}


.other-textbox input {
    width: 100%;
    min-width: 120px;
}