html {
    --color-dark-green: #398169;
    --color-light-green: #52b997;
    --color-dark-gray: #5d666d;
    --color-light-gray:#8d9398;
    
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
}

.app-logo {
    pointer-events: none;
}

.app-header {
    height: 60px;
}
.app-header .mypain-header-logo {
    height: 100%;
}



.hidden {
    display: none;
}